.outer-box{
    width:100%;
    border: 1px solid black;
    padding: 15px 5px 5px 5px;
    background-color: gainsboro;
}

.box{
    width:100%;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

.header{
    width:100%;
    text-align: center;
    border: 2px solid black;
}

.columns{
    display:flex;
    width: 100%;
    height: 100%;
}

.content1{
    width:40%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
.content2{
    width:35%;
    border: 2px solid black;
}
.side{
    width:25%;
    border: 2px solid black;
}

.footer{
    border: 2px solid black;
}