body {
    padding: 50px; 
  }
  
div {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-style: italic bold;
    font:  italic small-caps bold 1.1em Georgia, serif;
    color:white;
    /* font-size: 1.1em; */
    width: 100px;
    height: 100px;
    background-color: #c40c0c;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
}
  
@keyframes spin {
    from {
        transform:rotate(0deg);
         }
         to {
        transform:rotate(360deg);
         }
        }